{
    "html_files":"projects/support_devices/mvno/linemobile/tmp/html",
    "writefile_path":"projects/support_devices/mvno/linemobile/tmp/csv/devices_linemobile-scraped.csv",
    "targets_xpath":"//li[contains(@class,'SimList')]",
    "column_xpath":
        [
            ["device_type","normalize-space(./ancestor::div[contains(@class,'TabCntWrap')][1]/@class)"],
            ["maker","normalize-space(./preceding::div[contains(@class,'SimDeviceTtl')][1])"],
            ["name","normalize-space(./div[contains(@class,'SimListCont')][1]/h3)"],
            ["sim1","normalize-space(./div[contains(@class,'SimListCont')][2]/span[2])"],
            ["data","normalize-space(./div[contains(@class,'SimListCont')][3]//li[1]/@class)"],
            ["call","normalize-space(./div[contains(@class,'SimListCont')][3]//li[2]/@class)"],
            ["tethering","normalize-space(./div[contains(@class,'SimListCont')][3]//li[3]/@class)"],
            ["note","normalize-space(./div[contains(@class,'SimListCont')][3]//li[4])"]
        ]
}