{
    "crowled_info":"out/simplans_kakaku-crowled.csv",
    "writefile_path":"out/simplans_kakaku-scraped.csv",
    "targets_xpath":".",
    "render_js":0,
    "column_xpath":
        [
            ["mvno_name","normalize-space(.//p[@class='p-planHead_nameMvno']/a)"],
            ["plan_name","normalize-space(.//p[@class='p-planHead_namePlan'])"],
            ["sim_type","normalize-space(.//th[text()='SIMの種類']/..//span)"],
            ["volume_mno","normalize-space(.//th[text()='データ量・回線']/..//span)"],
            ["initial_cost","normalize-space(.//p[@class='p-planHead_price_initialfee'])"],
            ["running_cost","normalize-space(.//p[@class='p-planHead_price_entity'])"],
            ["content_id","normalize-space(.//p[@id='sysReportInfo'])"]
        ]
}