{
    "html_files":"kakaku/html",
    "writefile_path":"kakaku/csv/devices_kakaku-scraped.csv",
    "targets_xpath":"//tr[@class='tr-border' and .//a[@class='ckitanker']]",
    "column_xpath":
        [
            ["maker","normalize-space(.//a/span)"],
            ["name","normalize-space(.//a/text())"],
            ["price","normalize-space(./following-sibling::tr[1]/td[2]//a)"],
            ["rank","normalize-space(./following-sibling::tr[1]/td[3])"],
            ["review","normalize-space(./following-sibling::tr[1]/td[4])"],
            ["comment","normalize-space(./following-sibling::tr[1]/td[5])"],
            ["regist_date","normalize-space(./following-sibling::tr[1]/td[6])"],
            ["release_date","normalize-space(./following-sibling::tr[1]/td[7])"],
            ["carrier","normalize-space(./following-sibling::tr[1]/td[8])"],
            ["sim_type","normalize-space(./following-sibling::tr[1]/td[9])"],
            ["os","normalize-space(./following-sibling::tr[1]/td[10])"],
            ["display","normalize-space(./following-sibling::tr[1]/td[11])"],
            ["rom","normalize-space(./following-sibling::tr[1]/td[12])"],
            ["battery","normalize-space(./following-sibling::tr[1]/td[13])"],
            ["release","normalize-space(./following-sibling::tr[2]//span[contains(text(),'販売時期')]/following-sibling::span[1]/a)"],
            ["wait_time","normalize-space(./following-sibling::tr[2]//span[contains(text(),'最大待受時間')]/following-sibling::text()[1])"],
            ["cpu","normalize-space(./following-sibling::tr[2]//span[contains(text(),'CPU')]/following-sibling::text()[1])"],
            ["cpu_core","normalize-space(./following-sibling::tr[2]//span[contains(text(),'CPUコア数')]/following-sibling::span[1]/a)"],
            ["ram","normalize-space(./following-sibling::tr[2]//span[contains(text(),'内蔵メモリ')]/following-sibling::text()[1])"],
            ["size","normalize-space(./following-sibling::tr[2]//span[contains(text(),'幅x高さx厚み')]/following-sibling::text()[1])"]
        ]
}