    {
    "starting_urls":[
        "https://www.amazon.co.jp/s/ref=lp_128188011_nr_n_0?fst=as%3Aoff&rh=n%3A3210981%2Cn%3A%213210991%2Cn%3A128187011%2Cn%3A128188011%2Cn%3A2497181051&bbn=128188011&ie=UTF8&qid=1534396561&rnid=128188011"
        ],
    "nextpage_xpath":"//span[@class='pagnRA']/a/@href",
    "nextscript_xpath":"",
    "target_xpath":"",
    "ending_url":"",
    "render_js":1,
    "save_dir":"projects/support_devices/amazon/html"
}