    {
    "starting_urls":[
        "https://www.amazon.co.jp/gp/search/other/ref=sr_sa_p_n_feature_eleven_b?rh=n%3A3210981%2Cn%3A%213210991%2Cn%3A128187011%2Cn%3A128188011%2Cn%3A2497181051&page=2&bbn=2497181051&pickerToList=feature_eleven_browse-bin&ie=UTF8&qid=1534462385"
        ],
    "nextpage_xpath":"",
    "nextscript_xpath":"//span[@class='pagn pagnControls next pagnLink']",
    "target_xpath":"",
    "ending_url":"",
    "render_js":1,
    "save_dir":"projects/support_devices/amazon/html"
}