{
    "html_files":"projects/support_devices/amazon/html",
    "writefile_path":"projects/support_devices/amazon/csv/amazon-scraped.csv",
    "targets_xpath":"//ul/li[contains(@id,'result_')]",
    "column_xpath":
        [
            ["maker","normalize-space(.//h2/ancestor::div[1]/following::div[1])"],
            ["name","normalize-space(.//h2/@data-attribute)"],
            ["price",".//span[contains(@class,'a-color-price')]/text()"],
            ["state",".//span[contains(@class,'a-color-price')]/parent::a/text()"],
            ["page","normalize-space(./preceding::head/meta[@name='keywords']/@content_)"],
            ["link","normalize-space(.//h2/parent::a/@href_)"]
        ]
}