{
    "html_files":"projects/support_devices/mvno/ymobile/html",
    "writefile_path":"projects/support_devices/mvno/ymobile/csv/devices_ymobile-scraped.csv",
    "targets_xpath":"//tr[./td[4]]",
    "column_xpath":
        [   
            ["device_type","normalize-space(./ancestor::div[2]/@class)"],
            ["maker","normalize-space(./preceding::h3[1])"],
            ["name","./td[1]/text()"],
            ["sim","normalize-space(./td[2])"],
            ["os","normalize-space(./td[3])"],
            ["note","normalize-space(./td[4])"]
        ]
}