{
    "html_files":"projects/support_devices/mvno/rakuten/html",
    "writefile_path":"projects/support_devices/mvno/rakuten/csv/devices_rakuten-scraped.csv",
    "targets_xpath":"//table[@class='baseTbl']/tbody/tr",
    "column_xpath":
        [   
            ["maker","normalize-space(./td[1])"],
            ["name","normalize-space(./td[2]/text())"],
            ["device_type","normalize-space(./td[3])"],
            ["sim","normalize-space(./td[4])"],
            ["3G/LTE","normalize-space(./td[5])"],
            ["tethering","normalize-space(./td[6])"],
            ["os","normalize-space(./td[7])"],
            ["note","normalize-space(./td[8])"]
        ]
}