{
    "html_files":"projects/support_devices/mvno/mineo/tmp/html",
    "writefile_path":"projects/support_devices/mvno/mineo/tmp/csv/devices_mineo-scraped.csv",
    "targets_xpath":"//tr[@class='device_row' and ./td[@class='taL name']]",
    "column_xpath":
        [
            ["plan","normalize-space(./preceding::h3[@class='mb05']/following-sibling::p[1])"],
            ["device_type","normalize-space(./ancestor::li/@class)"],
            ["carrier","normalize-space(./preceding-sibling::tr[@class='carrier_row'][1])"],
            ["maker","normalize-space(./preceding-sibling::tr[@class='maker_row'][1])"],
            ["name","normalize-space(.//td[@class='taL name'])"],
            ["sim1","normalize-space(.//td[@class='sim'])"],
            ["sim2","normalize-space(self::tr/following-sibling::tr[@class='device_row'][1]/td[@class='sim' and not(parent::tr/td[@class='taL name'])])"],
            ["single","normalize-space(.//td[@class='single'])"],
            ["dual","normalize-space(.//td[@class='dual'])"],
            ["tethering","normalize-space(.//td[@class='tethering'])"],
            ["sms","normalize-space(.//td[@class='sms'])"],
            ["version","normalize-space(.//td[@class='version'])"],
            ["note","normalize-space(./following::td[@class='taL note'][1])"]
        ]
}